:root {

    --page-background: #ffffff;
}




body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}


h2 {
    font-size: 20px;
line height: 24px;
line height: 102%;
letter spacing: 2%;
}

p {
font size: 16px;
line height: 24px;
line height: 128%;
letter spacing: 2%;
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: #404bbf;
}


.link-logo {
    color: #4D5AE5;
    font family: "Raleway" sans-serif;
    font-weight: 800;
    font style: ExtraBold;
    font size: 18px;
    line height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase
}

.stu {
    color: #2e2f42;
}

.list {
    list-style: none;
}

.link-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.link-nav:hover,
.link-nav:focus {
    color: #404bbf;
}


.adress {
    font-style: normal;
}

.list {
    list-style: none;
}

.link-ad {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}








button {
    cursor: pointer;
 background-color: #F4F4FD;
 color: #4D5AE5;
}

button:hover,
button:focus {
    cursor: pointer;
 background-color: #F4F4FD;
 color: #4D5AE5;
    text-decoration: underline;
    text-decoration-color: violet;
}

button:active {
    cursor: pointer;
 background-color: #F4F4FD;
 color: #4D5AE5;
    text-decoration: underline;
    text-decoration-color: violet;
    border-color: violet;
}

.all {
    cursor: pointer;
    background-color: #404BBF;
    color: #FFFFFF;
}

.all:hover,
.all:focus {
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    text-decoration: underline;
    text-decoration-color: violet;
}

.all:active {
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    text-decoration: underline;
    text-decoration-color: violet;
    border-color: violet;
}



.adress:hover,
.adress:focus {
    color: #4D5AE5;
}