:root {

    --page-background: #ffffff;
}




body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}


h2 {
    font-size: 20px;
line-height: 24px;
line-height: 102%;
letter-spacing: 2%;
}

p {
font-size: 16px;
line-height: 24px;
line-height: 128%;
letter-spacing: 2%;
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: #404bbf;
}


.link-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.stu {
    color: #2e2f42;
}

.stf {
    color: #f4f4fd;
}

.pha {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.list {
    list-style: none;
}

.link-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.link-nav:hover,
.link-nav:focus {
    color: #404bbf;
}


.adress {
    font-style: normal;
}

.list {
    list-style: none;
}

.link-ad {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.sec {
    background-color: #2e2f42;
}

.has {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.but {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;

}

.but:hover,
.but:focus {
    background-color: #404BBF;
}


button {
    cursor: pointer;
 background-color: #F4F4FD;
 color: #4D5AE5;
}

.zagolovok {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.zgg {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}


.secn {
    background-color: #F4F4FD;
}

.foo {
    background-color:#2e2f42;
}

.pun {
    background-color: #FFFFFF;
}

button:hover,
button:focus {
    cursor: pointer;
 background-color: #F4F4FD;
 color: #4D5AE5;
    text-decoration: underline;
    text-decoration-color: violet;
}

button:active {
    cursor: pointer;
 background-color: #F4F4FD;
 color: #4D5AE5;
    text-decoration: underline;
    text-decoration-color: violet;

}

.all {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    cursor: pointer;
    background-color: #F4F4FD;
}

.all:hover,
.all:focus {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #404BBF;
}
